<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- log patterns -->
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n%wex"/>

    <!-- log file locations -->
    <property name="LOG_FILE" value="${LOG_FILE:-${SERVICE_LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}service.log}"/>
    <property name="LOG_FILE_CATALINA" value="${LOG_FILE_CATALINA:-${SERVICE_LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}catalina.log}"/>

    <!-- log file retention policy -->
    <property name="LOG_FILE_MAX_HISTORY_DAYS" value="${LOG_FILE_MAX_HISTORY_DAYS:-15}"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- application file appender -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d.log</fileNamePattern>
            <maxHistory>${LOG_FILE_MAX_HISTORY_DAYS}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- tomcat file appender -->
   <appender name="CATALINA"
             class="ch.qos.logback.core.rolling.RollingFileAppender">
       <encoder>
           <pattern>${FILE_LOG_PATTERN}</pattern>
       </encoder>
       <file>${LOG_FILE_CATALINA}</file>
       <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
           <fileNamePattern>${LOG_FILE_CATALINA}.%d.log</fileNamePattern>
           <maxHistory>${LOG_FILE_MAX_HISTORY_DAYS}</maxHistory>
       </rollingPolicy>
   </appender>

   <root level="INFO">
       <appender-ref ref="CONSOLE" />
       <appender-ref ref="FILE" />
   </root>

   <logger name="org.apache.catalina" level="INFO">
       <appender-ref ref="CATALINA" />
   </logger>

</configuration>